In [23]:
#import necessary Libraries
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import KFold,cross_val_score

In [3]:
#Load Data
iris_data=load_iris()
print(iris_data.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [5]:
iris_data.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [14]:
df_iris=pd.DataFrame(iris_data.data,columns=iris_data.feature_names)
#convert class 2 to 1
df_iris['class']=pd.Series((iris_data.target != 0) * 1)
df_iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  class
0                5.1               3.5                1.4               0.2      0
1                4.9               3.0                1.4               0.2      0
2                4.7               3.2                1.3               0.2      0
3                4.6               3.1                1.5               0.2      0
4                5.0               3.6                1.4               0.2      0

In [17]:
df_iris['class'].value_counts()

1    100
0     50
Name: class, dtype: int64

In [18]:
use_features=['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

x = df_iris[use_features].values
y=df_iris['class']

<h2>AdaBoostClassifier</h2>

In [29]:
seed=7
num_trees= 10
kfold=KFold(n_splits=5,random_state=seed)

model=AdaBoostClassifier(n_estimators=num_trees,random_state=seed)
results=cross_val_score(model,x,y,cv=kfold,scoring='accuracy')
print(results.mean())

1.0

<h2>RandomForestClassifier<h2>

In [25]:
kfold=KFold(n_splits=5,random_state=seed,shuffle=True)

In [26]:
#split data into 10 consecutive folds
print("Train set                    Test set")
for train_set,test_set in kfold.split(x):
    print(train_set,test_set)

Train set                    Test set
[  0   1   2   3   4   5   6   7   8   9  10  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  29  30  31  33  34  35  36  38  39
  42  43  44  45  47  48  49  50  53  54  55  56  57  58  59  60  61  62
  64  65  67  68  69  71  72  73  74  75  76  78  79  81  83  86  87  88
  89  90  91  92  93  95  96  98  99 100 102 103 104 105 107 110 111 112
 113 114 115 116 117 118 121 122 123 124 125 126 127 128 130 131 132 133
 134 135 136 139 141 142 143 144 145 146 147 148] [ 11  28  32  37  40  41  46  51  52  63  66  70  77  80  82  84  85  94
  97 101 106 108 109 119 120 129 137 138 140 149]
[  0   1   2   4   6   7   9  10  11  12  14  15  16  18  19  20  21  23
  24  25  27  28  30  31  32  33  34  35  37  38  40  41  42  43  44  46
  47  48  50  51  52  53  55  56  57  58  59  61  63  64  66  67  68  69
  70  71  72  73  75  77  78  80  82  83  84  85  86  87  88  89  90  91
  92  93  94  96  97  98  99 101 103 104 105 106 107 108 109 110 112 113
 114 115 118 119 120 121 122 123 125 127 128 129 130 131 133 134 135 136
 137 138 140 141 142 143 144 145 146 147 148 149] [  3   5   8  13  17  22  26  29  36  39  45  49  54  60  62  65  74  76
  79  81  95 100 102 111 116 117 124 126 132 139]
[  0   1   3   4   5   6   7   8   9  10  11  13  16  17  19  21  22  23
  24  25  26  28  29  31  32  34  35  36  37  38  39  40  41  42  44  45
  46  48  49  51  52  53  54  55  56  60  61  62  63  64  65  66  67  68
  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  87
  89  92  93  94  95  96  97  98  99 100 101 102 103 105 106 108 109 110
 111 112 116 117 119 120 121 122 123 124 126 127 128 129 130 132 133 135
 136 137 138 139 140 141 142 143 144 146 148 149] [  2  12  14  15  18  20  27  30  33  43  47  50  57  58  59  86  88  90
  91 104 107 113 114 115 118 125 131 134 145 147]
[  0   2   3   5   6   8  11  12  13  14  15  17  18  19  20  22  23  24
  25  26  27  28  29  30  32  33  34  36  37  39  40  41  42  43  44  45
  46  47  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64
  65  66  67  68  69  70  72  74  75  76  77  79  80  81  82  84  85  86
  88  89  90  91  92  94  95  97 100 101 102 103 104 106 107 108 109 110
 111 112 113 114 115 116 117 118 119 120 123 124 125 126 127 129 131 132
 133 134 135 136 137 138 139 140 142 145 147 149] [  1   4   7   9  10  16  21  31  35  38  48  71  73  78  83  87  93  96
  98  99 105 121 122 128 130 141 143 144 146 148]
[  1   2   3   4   5   7   8   9  10  11  12  13  14  15  16  17  18  20
  21  22  26  27  28  29  30  31  32  33  35  36  37  38  39  40  41  43
  45  46  47  48  49  50  51  52  54  57  58  59  60  62  63  65  66  70
  71  73  74  76  77  78  79  80  81  82  83  84  85  86  87  88  90  91
  93  94  95  96  97  98  99 100 101 102 104 105 106 107 108 109 111 113
 114 115 116 117 118 119 120 121 122 124 125 126 128 129 130 131 132 134
 137 138 139 140 141 143 144 145 146 147 148 149] [  0   6  19  23  24  25  34  42  44  53  55  56  61  64  67  68  69  72
  75  89  92 103 110 112 123 127 133 135 136 142]

In [30]:
model=RandomForestClassifier(n_estimators=num_trees)
print(cross_val_score(model,x,y,cv=kfold,scoring='accuracy'))
results=cross_val_score(model,x,y,cv=kfold,scoring='accuracy')
print(results.mean()*100)

[1. 1. 1. 1. 1.]
100.0